.comment-div{
    background: aquamarine;
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: space-evenly;
    margin: 20px 0;
}
.comment{
    margin: 20px 0;
    background: cornflowerblue;
}