.user-wrap{
    border: 2px solid black;

}
.user-wrap button{
    width: 90%;
    margin:0 5%;

}
.posts-box{
    /*display: flex;
    align-items: center;*/
}
.posts-box h2 {
    text-align: center;
}
.posts-box ul li{
    margin-top: 15px;
}
.posts-div{
    background: aquamarine;
    display: grid;
    grid-template-columns: repeat(5,17%);
    justify-content: space-evenly;
    margin: 20px 0;
}
.posts-div > div{
    border: 2px solid tomato;
    width: 250px;
    min-height: 60px;
    margin: 20px 0;

}
.posts-div  div {
    min-height: 37px;
    text-align: center;
    background: cornflowerblue;
}
.posts-div div button{
    width: 90%;
    margin: 0 5% 5px;
}